<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perbandingan Metode BMI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="center-page">
    <div class="container">
        <h2>Selamat Datang di Aplikasi Perhitungan Body Mass Index</h2>
        <h4>Aplikasi ini dikembangkan oleh mahasiswa S-1 Informatika untuk menghitung Body Mass Index (BMI)  </h4>
        <h4>dan membandingkan efisiensi algoritma rekursif dan iteratif</h4>
        <div class="photos">
            <div class="photo-frame">
                <img id="photo1" src="/static/default_photo1.jpg" alt="Foto 1">
                <p>Nama: Bianka Rosa</p>
                <p>NIM: 103012300335</p>
            </div>
            <div class="photo-frame">
                <img id="photo2" src="/static/default_photo2.jpg" alt="Foto 2">
                <p>Nama: Dinda Cantika.P.B</p>
                <p>NIM: 103012300135</p>
            </div>
        </div>
        <div class="button-group">
            <button onclick="location.href='/select-data'" class="btn">Pilih Data</button>
            <button onclick="location.href='/manual-input'" class="btn">Input Manual</button>
        </div>
    </div>
</body>
</html>
